doctype html
html
  head
    link(href="public/favicon.ico", rel="icon", type="image/x-icon")
    link(href="public/vendor/bootstrap/bootstrap.css", rel="stylesheet")
    link(href="public/vendor/bootstrap/dist/css/bootstrap.css", rel="stylesheet")
    link(href="public/vendor/toastr/toastr.css", rel="stylesheet")
    link(href="public/css/site.css", rel="stylesheet")
  body(ng-app="app") 
    block main-content
    include scripts
